@model PersianPortal.Models.Poem

@{
    ViewBag.Title = "Delete";
}

<h2>حذف</h2>

<h3>آیا از حذف این شعر اطمینان دارید ؟ </h3>
<div>
    <h4>شعر</h4>
    <hr />
    <dl class="dl-horizontal col-lg-10">
        <dt>
            @Html.DisplayNameFor(model => model.Author.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoiceURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoiceURL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-lg-offset-6">
            <input type="submit" value="حذف شعر" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت به لیست شعر ها", "Index")
        </div>
    }
</div>
