@model PersianPortal.Models.Poem

@{
    ViewBag.Title = "جزییات";
}

<h2>جزییات</h2>

<div class="col-lg-8 col-lg-offset-1">
    <h4>شعر</h4>
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Poet)
            </td>
            <td>
                @Html.DisplayFor(model => model.Poet)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Body)
            </td>
            <td>
                @Html.DisplayFor(model => model.Body)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Tags)
            </td>
            <td>
                @Html.DisplayFor(model => model.Tags)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.BookName)
            </td>
            <td>
                @Html.DisplayFor(model => model.BookName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.VoiceURL)
            </td>
            <td>
                @Html.DisplayFor(model => model.VoiceURL)
            </td>
        </tr>
    </table>
</div>
<h3 class="col-lg-5 col-lg-offset-6"  style="margin-top:3%;margin-bottom:3%">
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("بازگشت به لیست شعر ها", "Index")
</h3>


    

