@model IEnumerable<PersianPortal.Models.Poem>

@{
    ViewBag.Title = "اشعار";
}
<div class="col-lg-8">
    <h2>اشعار</h2>
@if (ViewBag.CanViewNewsPanel)
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Poet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoemType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoiceURL)
        </th>
        <th></th>
    </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Poet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoemType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @(item.VoiceURL == null ? "ندارد" : "دارد")
        </td>
        <td>
                    @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("جزییات", "Details", new { id = item.Id }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.Id })
        </td>
    </tr>
        }

</table>


    <a class="col-lg-2 col-lg-offset-5 col-xs-12 btn btn-default" style="margin-top:3%;margin-bottom:3%" href="@Url.Action("Create", "Poems")">ایجاد شعر جدید</a>
}

    <div class="col-lg-12 switch-toggle switch-6 well" style="direction:ltr">
        <input id="robaib" name="view" type="radio">
        <label for="robaib" onclick="HideOthersRo()">دوبیتی و رباعی</label>
        <input id="ghazalb" name="view" type="radio" checked>
        <label for="ghazalb" onclick="HideOthersGh()">غزل</label>
        <input id="ghasideb" name="view" type="radio">
        <label for="ghasideb" onclick="HideOthersGs()">قصیده</label>
        <input id="masnavib" name="view" type="radio">
        <label for="masnavib" onclick="HideOthersMa()">مثنوی</label>
        <input id="nob" name="view" type="radio" checked>
        <label for="nob" onclick="HideOthersNo()">شعر نو</label>
        <input id="all" name="view" type="radio" checked>
        <label for="all" onclick="showAll()">همه</label>
        <a class="btn btn-primary"></a>
    </div>

    @foreach (var item in Model)
    {
        var id = "";
        switch (item.PoemType.Type)
        {
            case "رباعی":
                id = "robai";
                break;
            case "غزل":
                id = "ghazal";
                break;
            case "قصیده":
                id = "ghaside";
                break;
            case "مثنوی":
                id = "masnavi";
                break;
            case "شعر نو":
                id = "no";
                break;
            default:
                id = "ghazal";
                break;
        }
        <div class="row news-box @id">
            <div class=" col-lg-12" style="padding: 10px 30px 20px 30px !important">
                <div class="news-heading">
                    <h3>
                        <a href="#">@item.Poet</a>&nbsp;-&nbsp;<a href="#">@item.Name</a>
                        @if (item.BookName != null)
                        {
                            <span> - @item.BookName</span>
                        }
                        @if (item.VoiceURL != null)
                        {
                            <a href="#" style="text-decoration:none" onclick="document.getElementById('@("voice-" + (item.Id).ToString())').muted = !(document.getElementById('@("voice-" + (item.Id).ToString())').muted); $(this).find('i').toggleClass('fa-volume-up').toggleClass('fa-volume-off'); return false;">
                                <i class="fa fa-fw fa-volume-up" style="float:left;margin-left:50px"></i>
                            </a>
                            <a href="#" style="text-decoration:none" onclick="document.getElementById('@("voice-" + (item.Id).ToString())').pause(); return false;">
                                <i class="fa fa-fw fa-pause" style="font-size:small; vertical-align:middle; float:left; margin-left:20px; margin-top:6px"></i>
                            </a>
                            <a href="#" style="text-decoration:none" onclick="document.getElementById('@("voice-" + (item.Id).ToString())').play(); return false;">
                                <i class="fa fa-fw fa-play" style="font-size:small; vertical-align:middle; float:left; margin-left:20px; margin-top:6px"></i>
                            </a>
                            <audio id="@("voice-" + (item.Id).ToString())">
                                <source src="@item.VoiceURL" type="audio/mpeg">
                                پخش صدا در مرورگر شما پشتیبانی نمی شود.
                            </audio>
                        }
                        <span class="news-date">
                            <strong>@item.PoemType.Type</strong>
                        </span>
                    </h3>
                </div>
                <p style="font-family:'B Nazanin';text-align:center">
                    @Html.Raw(item.Body)
                    <strong style="float:left;margin:20px">@item.Author.FullName</strong>
                </p>
                
                <div class="dashed-hr"></div>
            </div>
        </div>
    }
    <div class="row text-center col-lg-12">
        <nav>
            <ul class="pagination">
                <li class="disabled"><a href="#"><span aria-hidden="true"></span><span class="sr-only"><span class="arrows">&laquo;</span>قبلی</span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#"><span aria-hidden="true"></span><span class="sr-only">بعدی<span class="arrows">&raquo;</span></span></a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="col-lg-2">
    <div class="row news-section">
        <div class="ad-box">
            <div class="well">
                <h1 class="text-center">تبلیغات</h1>
                <hr />
                <div style="text-align: center">
                    <img src="/images/c8c57293d052b777855b86cafb348a4b.gif" width="100%" alt="Ad 1" />
                </div>
            </div>
        </div>
        <div class="ad-box">
            <div class="well">
                <h1 class="text-center">تبلیغات</h1>
                <hr />
                <div style="text-align: center">
                    <img src="/images/New_28142.gif" width="100%" alt="Ad 2" />
                </div>
            </div>
        </div>
        <div class="ad-box">
            <div class="well">
                <h1 class="text-center">تبلیغات</h1>
                <hr />
                <div style="text-align: center">
                    <img src="/images/New_28529.gif" width="100%" alt="Ad 3" />
                </div>
            </div>
        </div>
    </div>
</div>



