@model PersianPortal.Models.User

@{
    ViewBag.Title = "تغییر پسورد";
}

<h2>تغییر پسورد کاربران </h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal col-lg-10">
        <h4>کاربر</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.Label("کاربر", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UserName, (SelectList)ViewBag.Users)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("رمز عبور جدید", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" name="Password" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-5">
                <input type="submit" value="تغییر پسورد" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("بازگشت", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
