@model PersianPortal.Models.File

@{
    ViewBag.Title = "Delete";
}

<h2>حذف فایل</h2>

<h3>آیا از حذف این فایل اطمینان دارید؟</h3>
<div>
    <h4>فایل</h4>
    <hr />
    <dl class="dl-horizontal col-lg-9">
        <dt>
            @Html.DisplayNameFor(model => model.Extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-lg-4 col-lg-offset-8">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("بازگشت به فایل ها", "Index")
        </div>
    }
</div>
