@model PersianPortal.Models.File

@{
    ViewBag.Title = "Details";
}

<h2>جزییات بارگذاری</h2>
<div class="btn btn-default col-lg-offset-4">
    @Html.ActionLink("بارگذاری فایل جدید", "Upload")
</div>
<div>
    <h4>فایل</h4>
    <hr />
    <dl class="dl-horizontal col-lg-9">
        <dt>
            @Html.DisplayNameFor(model => model.Extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            <a href="@Model.URL">فایل</a>
        </dd>

    </dl>
</div>
<div class="col-lg-4 col-lg-offset-5" style="margin-bottom:3%;margin-top:3%">
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("بازگشت به لیست فایل ها", "Index")
</div>
