@model PersianPortal.Models.Content

@{
    ViewBag.Title = "Delete";
}

<h2>حذف</h2>

<h3>آیا مطمئن به حذف این متن هستید؟</h3>
<div>
    <h4>متن</h4>
    <hr />
    <dl class="dl-horizontal col-lg-10">
        <dt>
            @Html.DisplayNameFor(model => model.Author.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("بازگشت به لیست متون", "Index")
        </div>
    }
</div>
