@model PersianPortal.Models.Content

@{
    ViewBag.Title = "Details";
}

<h2>جزییات</h2>

<div>
    <h4>متن</h4>
    <hr />
    <dl class="dl-horizontal col-lg-10">
        <dt>
            @Html.DisplayNameFor(model => model.Author.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

    </dl>
</div>
<div class="col-lg-3 col-lg-offset-5">
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("بازگشت به لیست متون", "Index")
</div>
