@model PersianPortal.Models.News

@{
    ViewBag.Title = "جزییات";
}

<h2>جزییات</h2>

<div class="col-lg-8 col-lg-offset-1">
    <h4>اخبار</h4>
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Tags)
            </td>
            <td>
                @Html.DisplayFor(model => model.Tags)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.PublishDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Attachment)
            </td>
            <td>
                @Html.DisplayFor(model => model.Attachment)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Type)
            </td>
            <td >
                @Html.DisplayFor(model => model.Type.Type)
            </td>
        </tr>

    </table>
    
</div>
<h3 class="col-lg-5 col-lg-offset-4">
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("بازگشت به لیست خبر ها", "Index")
</h3>
