@model IEnumerable<PersianPortal.Models.News>

@{
    ViewBag.Title = "اخبار";
}
<title>اخبار | پورتال جامع پارسی زبانان</title>
<div class="col-lg-8">
    <h2>تازه ترین خبرها</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>

    @foreach (var item in Model)
    {
        <div class="row news-box">
            <div class=" col-lg-8 col-lg-offset-2" style="padding: 10px 30px 20px 30px !important">
                <div class="news-heading">
                    <h3>
                        <a href="#">تحریم‌ها برداشته می شود/ بانک‌ها آماده باشند</a>
                        <span> : </span>
                        <span class="news-date">
                            <strong>@item.PublishDate.Day</strong>
                            @item.PublishDate.Month
                            <em>@item.PublishDate.Year</em>
                        </span>
                    </h3>
                </div>
                <p>
                    @item.Body
                    <strong style="float:left;margin:20px">@item.Author</strong>
                </p>
                <div class="news-read-more">
                    <span>[ </span>
                    <a href="/talking-of-design/article/the-best-and-only-css-framework-you-need"> ادامه خبر </a>
                    <span> ]</span>
                </div>
                <div class="dashed-hr"></div>
            </div>
        </div>
    }

    <div class="row text-center">
        <nav>
            <ul class="pagination">
                <li class="disabled"><a href="#"><span aria-hidden="true"></span><span class="sr-only"><span class="arrows">&laquo;</span>قبلی</span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#"><span aria-hidden="true"></span><span class="sr-only">بعدی<span class="arrows">&raquo;</span></span></a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="col-lg-2">
    <div class="row news-section">
        <div class="ad-box">
            <div class="well">
                <h1 class="text-center">تبلیغات</h1>
                <hr />
                <div style="text-align: center">
                    <img src="/images/c8c57293d052b777855b86cafb348a4b.gif" width="100%" alt="Ad 1" />
                </div>
            </div>
        </div>
        <div class="ad-box">
            <div class="well">
                <h1 class="text-center">تبلیغات</h1>
                <hr />
                <div style="text-align: center">
                    <img src="/images/New_28142.gif" width="100%" alt="Ad 2" />
                </div>
            </div>
        </div>
        <div class="ad-box">
            <div class="well">
                <h1 class="text-center">تبلیغات</h1>
                <hr />
                <div style="text-align: center">
                    <img src="/images/New_28529.gif" width="100%" alt="Ad 3" />
                </div>
            </div>
        </div>
    </div>
</div>